html,
body {
  font-family: "General Sans";
  @apply text-sm md:text-base;
}

body {
  @apply bg-white text-black;
}
.dark-mode body {
  @apply bg-black text-white;
}
.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}
h1 {
  @apply font-bold;
}

h2,
h3 {
  @apply font-semibold;
}

h1,
h2,
h3 {
  @apply tracking-wide;
}

a {
  @apply relative transition-all duration-200 inline-block;
}

a::before {
  content: "";
  @apply absolute -z-10 top-0 left-0 w-full h-full bg-[#808080] rounded-full blur-lg opacity-0 transition-all duration-200;
}

a:hover::before {
  @apply opacity-50;
}

a:hover {
  @apply blur-[1px];
}

a.no-hover:hover::before {
  @apply opacity-0;
}

a.no-hover:hover {
  @apply blur-0;
}

a:active::before {
  @apply opacity-70;
}

a:active {
  @apply blur-[2px];
}

section {
  @apply my-8 grid gap-4 py-24;
}

.page-enter-active,
.page-leave-active {
  transition: all 700ms;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
