@import "lenis.css";
@import "transition.css";
@import "noise.css";

html,
body {
  font-family: "Switzer";
  @apply text-sm md:text-base;
}
body {
  @apply bg-white text-black;
}
.dark-mode body {
  @apply bg-black text-white;
}
.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}

a:hover {
  @apply text-current opacity-100;
}

header,
footer,
section {
  @apply px-8 md:px-24 lg:px-40 py-11;
}
