@import "lenis.css";
@import "transition.css";
@import "noise.css";

html,
body {
  font-family: "Switzer";
  @apply text-sm md:text-base;
}
body {
  @apply bg-white text-black;
}
.dark-mode body {
  @apply bg-black text-white;
}
.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}

a:hover {
  @apply text-current opacity-100;
}

a:active::before {
  @apply opacity-70;
}

a:active {
  @apply blur-[2px];
}

section {
  @apply my-8 grid gap-4 py-8 z-10;
}
