.page-enter-active {
  transition: all 2s;
  @apply bg-[red]  delay-1000;
}
.page-leave-active {
  transition: all 2s;
  @apply bg-[cyan];
}
.page-enter-from {
  transition: all 2s;
  opacity: 0;
  filter: blur(1rem);
  @apply bg-[green];
}
.page-leave-to {
  transition: all 2s;
  opacity: 0;
  filter: blur(1rem);
  @apply bg-[blue];
}
